@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Montserrat;
    padding: 20px;
}
/*header*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 40px;
}

header h1 {
    font-weight: 1;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    font-size: 14px;
}

header a:hover, header a:nth-child(3), h1:hover {
    color: #1EA7CB;
    cursor: pointer;
}

header button {
    color: #1EA7CB;
    padding: 10px;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    background: white;
}

/*main*/
main {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*article card*/

article {
    height: 420px;
    text-align: center;
    position: relative;
    box-shadow: 5px -2px 33px -18px rgba(0,0,0,0.75);
}

article, .imgbox, .tools, .houseimg {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

article, button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

article h2 {
    padding-top: 20px;
    padding-bottom: 40px;
}

article ul {
    display: -webkit-flex;
    justify-content: space-between;
    list-style: none;

    padding: 10px;
    padding-bottom: 0;
}

article button{
    width: 100%;
    border: none;
    color: white;
    padding: 14px;
    background: #1EA7CB;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

ul li, .slash {

    font-weight: 1;
    color:gray;
}

nav {
    display: flex;
    align-items: center;
}

ul li span {

    font-weight: 500;
    font-size: 1.2rem;
    color: black;
}

.slash {
    font-size: 28px;
}

.houseimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgbox {
    position: relative;
    background: lightblue;
    height: 200px;
}

/*tools hover box*/

.tools {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgbox:hover .tools {
    background: rgb(0,0,0,.7);
    opacity: 1;
    transition: 1s;
}

.tools img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
